html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

svg:not(:root) {
  overflow: visible;
  visibility: visible;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 100%;
  font-family: 'OpenSansMedium', sans-serif;
  color: #3e3947;
  background-color: #efefef;
  color: #212223;
}

.prel5oad * {
  display: none;
  transition: none;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

.txt_color {
  color: #060a0e;
}

img {
  max-width: 100%;
}

body::-webkit-scrollbar {
  width: 1em;
  z-index: -1;
}

body::-webkit-scrollbar-track {
  background-color: #000;
  z-index: -1;
}

body::-webkit-scrollbar-thumb {
  background-color: #212223;
  border-radius: 1px;
  background-image: url(../img/scroll_touch_lg.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 90;
}

.nav_tack {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  width: 15px;
}

.nav_tack__li {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #6a6a6a29;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}

.nav__li_active {
  background-color: #2122232e;
  height: 14px;
  width: 14px;
  transition: 0.2s;
  border: solid 1px #fff;
}

.avg {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.body_hidden {
  overflow: hidden;
}

.anchor {
  height: 100%;
  width: 100%;
  position: absolute;
}
#about_app {
  background-color: white;
}
.up_the_site {
  color: #fff;
  background-color: #2122232e;
  border: 0;
  border-radius: 100px;
  font-family: 'OpenSansMedium';
  font-size: 14px;
  cursor: pointer;
  width: 53px;
  height: 53px;
  z-index: 50;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: -60px;
  transition: 0.2s;
  border: solid 1px;
}

.up_the_site_shrink {
  position: fixed;
  bottom: 80px;
  right: 30px;
  transition: 0.2s;
}

.body_hidden {
  overflow: hidden;
}

nav {
  transition: all 0.3s ease;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
}

nav .menu {
  display: flex;
  justify-content: space-between;
}

.fa {
  font-size: 1.6em;
}

nav .menu a {
  padding: 15px;
}

.menu-icon {
  height: 2px;
  width: 25px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
  transform-origin: top center;
  transform-style: preserve-3d;
}

.container_menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

nav .submenu {
  height: 0;
  overflow: hidden;
  width: 100vw;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 100;
  background-color: #121212;
  left: 0;
  top: 50px;
}

nav .submenu.open {
  height: calc(312vh - 55px);
  width: 100vw;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 50px;
  background-color: #121212;
  transition: all 0.3s ease;
}

.people_menu {
  margin-top: 40px;
  border-bottom: 0;
}

.container_2 {
  width: 1200px;
  margin: auto;
}

.submenu a {
  padding: 12px 0;
  transition: 0.2s;
}

.submenu a:hover {
  color: #304fff;
  transition: 0.2s;
}

.h_menu {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 40px;
}

.submenu a:last-child {
  border-color: #fff;
}

.submenu a:last-child i {
  margin-right: 10px;
}

nav .submenu .submenu-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  font-size: 1.3em;
}

nav .submenu.open a {
  opacity: 0;
  animation-name: curtain;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes curtain {
  0% {
    transform: translate(-20px, -20px);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

nav .submenu.open .submenu-container a:nth-child(2) {
  animation-delay: 0.1s;
}

nav .submenu-container a:nth-child(3) {
  animation-delay: 0.2s;
}

nav .submenu-container a:nth-child(4) {
  animation-delay: 0.3s;
}

nav .submenu-container a:nth-child(5) {
  animation-delay: 0.4s;
}

nav .submenu-container a:nth-child(6) {
  animation-delay: 0.5s;
}

nav .submenu-container a:nth-child(7) {
  animation-delay: 0.6s;
}

nav .submenu-container a:nth-child(8) {
  animation-delay: 0.7s;
}

#hola {
  width: 100%;
  height: 100%;
  background-color: #efefef;
  position: fixed;
  z-index: 999;
}

#preloader {
  position: relative;
  width: 80px;
  height: 80px;
  top: 45%;
  margin: 0 auto;
}

#preloader span {
  position: absolute;
}

.avg {
  position: absolute;
}

#preloader span:nth-child(1) {
  top: 0;
  left: 0;
  width: 88px;
  height: 100px;
  background-color: #dbdbdb;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
}

#preloader span:nth-child(2) {
  top: 0;
  left: 0;
  width: 88px;
  height: 100px;
  background-color: #304fff;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  animation: color 1s linear;
}

@-webkit-keyframes spin-1 {
  0% {
    transform: rotate(360deg);
    opacity: 1;
  }

  50% {
    transform: rotate(180deg);
    opacity: 0.5;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes color {
  0% {
    height: 0;
  }

  100% {
    height: 100px;
  }
}

@-webkit-keyframes spin-2 {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }

  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes spin-2 {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }

  50% {
    transform: rotate(180deg);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}

.home {
  position: relative;
}

.howme:before {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 60;
  top: 0;
  left: 0;
  content: '';
  background-color: #f2f6f2;
}

.howme:after {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  content: '';
  background-color: #f2f6f2;
  z-index: 60;
}

.animate-border {
  border: 0 solid #edebe6;
  transition: border 0.5s 0.2s ease;
  margin: 0;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.home.divide:before {
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 0;
  opacity: ;
  position: absolute;
  z-index: 60;
}

.home.divide:after {
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 0;
  opacity: ;
  position: absolute;
  z-index: 60;
}

header {
  display: block;
  background-color: #202022;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  font-size: 13px;
}

.header_anima_start {
  transform: translate3d(0, -50px, 0);
  position: fixed;
  z-index: 50;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header_anima {
  transform: translate3d(0, 0, 0);
  transition: 0.2s;
  position: fixed;
  z-index: 50;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.header_top {
  transform: translate3d(0, 0, 0);
  transition: 0.2s;
}

.header_top_shrink {
  transform: translate3d(0, -50px, 0);
  transition: 0.2s;
}

.logo {
  width: 132px;
  height: 28px;
  margin-right: 40px;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
  position: relative;
}

.header_nav_wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.header_nav {
  color: #fff;
  cursor: pointer;
  width: max-content;
  padding-right: 20px;
}

.ecosystem {
  color: #ffffff59;
  transition: 0.2s;
}

.ecosystem:hover {
  color: #fff;
  transition: 0.2s;
}

.company_phone_wrapper {
  display: flex;
  align-items: center;
}

.about_company {
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.phone {
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.artclose {
  position: relative;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0 0 0 0;
  transition: 0.2s;
  z-index: 100;
}

.burgx,
.burgx2,
.burgx3 {
  margin-top: 3px;
  background: #fff;
  width: 25px;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.burgx2 {
  margin-top: 11px;
}

.burgx3 {
  margin-top: 19px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.mini_header {
  font-family: 'OpenSansMedium';
  font-size: 14px;
  background-color: #1e1e1efa;
  height: 64px;
  width: 100vw;
  z-index: 100;
  z-index: -13;
  position: absolute;
  font-family: 'OpenSansMedium';
  font-size: 12px;
  background-color: #ffffffbf;
  height: 52px;
  width: 100vw;
  color: #000;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: solid 1px #c9c9c9;
}

p.mini_h1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'OpenSansBold';
  font-size: 14px;
  position: absolute;
}

p.mini_h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'OpenSansBold';
  font-size: 14px;
  display: none;
}

.spec_order_wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.spec_order_wrapper2 {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.mini_specification {
  margin-right: 20px;
  font-family: 'OpenSansRegular';
  border-bottom: solid 1px transparent;
  padding-bottom: 4px;
  padding-top: 6px;
  cursor: pointer;
  transition: 0.2s;
  color: #00000073;
}

.mini_specification:hover {
  margin-right: 20px;
  font-family: 'OpenSansRegular';
  border-bottom: solid 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 4px;
  padding-top: 6px;
  cursor: pointer;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.8);
}

.mini_order {
  padding: 9px 14px;
  border: 0;
  font-family: 'OpenSansMedium';
  cursor: pointer;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  background: #304fff;
  color: #fff;
  border-radius: 980px;
  font-size: 12px;
  line-height: 1.33337;
  min-width: 23px;
  height: 30px;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.mini_order2 {
  padding: 9px 14px;
  border: 0;
  font-family: 'OpenSansMedium';
  cursor: pointer;
  color: #fff !important;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  background: #304fff;
  color: #fff;
  border-radius: 980px;
  font-size: 12px;
  line-height: 1.33337;
  min-width: 23px;
  height: 30px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 4px;
}

.all_section_slide1 {
  height: 100%;
  width: 100%;
}

.slide1 {
  height: 1000px;
  width: 100%;
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}

.scene {
  transform: translateY(var(--translateY));
  will-change: transform;
}

.wrapper_h1_start {
  position: absolute;
  top: 64%;
  transform: translate3d(50%, -60%, 0);
  z-index: 40;
  opacity: 0;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.wrapper_h1 {
  position: absolute;
  top: 64%;
  transform: translate3d(0, -60%, 0);
  z-index: 1;
  opacity: 1;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

h1 {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -0.03em;
  font-family: 'OpenSansBold';
  margin-bottom: 40px;
  margin-top: 20px;
}

.main_p {
  font-size: 22px;
  line-height: 1.3em;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  font-family: OpenSansBold;
}

.main_btn {
  height: 50px;
  padding-left: 8px;
  padding-right: 8px;
  width: 160px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #304fff;
  border: 0;
  border: solid 2px #304fff;
  border-radius: 222px;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.product_wrapper {
  display: flex;
  margin-top: 40px;
}

.product_1 {
  position: relative;
  height: 193px;
  width: 315px;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.product_1::before {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url(../img/page_intercom/slide1/app.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  transition: 300ms ease;
  will-change: transform;
}

.product_1:hover.product_1::before {
  transform: scale(1.2);
  transition: 300ms ease;
  will-change: transform;
}

.product_1:hover .product_app_line {
  border-bottom: solid 1px #858585;
  padding-bottom: 1px;
}

.product_h1 {
  font-size: 16px;
  line-height: 1.3em;
  font-family: OpenSansSemiBold;
  padding: 25px;
  position: relative;
  padding: 60px 25px 25px 25px;
  color: #000;
}

.product_p1 {
  font-size: 13px;
  line-height: 1.3em;
  font-family: 'OpenSansRegular';
  position: absolute;
  width: max-content;
  bottom: 8%;
  left: 25px;
  padding-bottom: 1px;
  border-bottom: solid 1px transparent;
  color: #858585;
}

.product_2 {
  position: relative;
  height: 193px;
  width: 315px;
  border-radius: 10px;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.product_2::before {
  content: '';
  height: 100%;
  width: 100%;
  background-image: url(../img/page_intercom/slide1/skud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  transition: 300ms ease;
  will-change: transform;
}

.product_2:hover.product_2::before {
  transform: scale(1.2);
  transition: 300ms ease;
  will-change: transform;
}

.product_2:hover .product_skud_line {
  border-bottom: solid 1px #858585;
  padding-bottom: 1px;
}

.pic_house {
  width: 1746px;
  height: 432px;
  background-image: url(../img/page_intercom/slide1/house.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 27%;
  right: -16%;
  position: relative;
  transform: translate3d(0, -20%, 0);
}

.container_start {
  height: 100%;
  width: 1200px;
  position: relative;
  margin: auto;
}

.pic_intercome_start {
  width: 525px;
  height: 769px;
  background-image: url(../img/page_intercom/slide1/intercome_header.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 14vw;
  position: absolute;
  right: 50%;
  transform: translate3d(50%, 0, 0) scale(1.2);
  z-index: 45;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pic_intercome {
  width: 525px;
  height: 769px;
  background-image: url(../img/page_intercom/slide1/intercome_header.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: -80px;
  position: absolute;
  transform: translate3d(0, 0, 0) scale(1);
  z-index: 45;
  transition: all 0.6s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.intercome_text_start {
  color: #fff;
  font-size: 27px;
  text-align: center;
  position: absolute;
  font-family: 'OpenSansMedium';
  top: 37%;
  line-height: 32px;
  left: 26%;
  opacity: 0;
  transition: all 0.1s;
}

.intercome_text {
  color: #fff;
  font-size: 27px;
  text-align: center;
  position: absolute;
  font-family: 'OpenSansMedium';
  top: 37%;
  line-height: 32px;
  left: 26%;
  opacity: 1;
  transition: all 0.1s;
}

.container_left {
  height: 960px;
  width: 600px;
  margin: auto;
  position: absolute;
  right: 0;
}

.slide2 {
  height: 1100px;
  background-color: #fff;
  position: relative;
  z-index: 48;
  overflow: hidden;
}

.slide2_left {
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  position: absolute;
  display: block;
  background-color: #101010;
  color: #fff;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.character {
  padding-top: 200px;
}

._anim {
  transform: translate(0, 120%);
  -webkit-transform: translate(0, 120%);
  -moz-transform: translate(0, 120%);
  -ms-transform: translate(0, 120%);
  -o-transform: translate(0, 120%);
  opacity: 0;
  transition: 0.5s ease;
}

.char__li {
  padding: 0 40px 50px 0;
}

._active {
  transform: translate(0, 0%);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  transition: 0.5s ease;
  opacity: 1;
}

.char_h1 {
  font-size: 24px;
  font-family: 'OpenSansBold';
  margin-bottom: 15px;
  color: #fff;
}

.char_h2 {
  color: #7c7c7c;
  font-size: 20px;
  font-family: 'OpenSansBold';
}

.char_h4 {
  font-size: 36px;
  font-family: 'OpenSansBold';
  line-height: 30px;
}

.char_h4_span {
  font-size: 16px;
  font-family: 'OpenSansBold';
  color: #304fff;
  text-decoration: underline;
}

.slide2_right {
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  position: absolute;
  display: block;
  background-color: #fff;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.container_right {
  height: 100%;
  width: fit-content;
  margin: auto;
  right: 0;
}

.intercom_slide2_wrapper {
  margin-top: 160px;
}

.video_left {
  position: absolute;
  opacity: 0.05;
  height: 100%;
}

.intercome_slide2_img {
  width: 225px;
  height: 583px;
  background-image: url(../img/page_intercom/slide2/intercome_2.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.intercome_slide2_name {
  font-family: 'OpenSansBold';
  margin-bottom: 30px;
  padding-left: 36px;
  color: #000;
}

.color_area {
  padding: 30px;
  background-color: #efefef;
  width: min-content;
  border-radius: 60px;
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.color_circle {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #212223;
}

.color_text_name {
  font-family: 'OpenSansBold';
  font-size: 14px;
  color: #000;
}

.slide3 {
  height: 1100px;
  background-color: #efefef;
  width: 100%;
  z-index: 49;
  position: relative;
  overflow: hidden;
}

.scene_2 {
  transform: translateY(var(--translateY));
  will-change: transform;
}

.scene_3 {
  transform: translateY(var(--translateY));
  will-change: transform;
}

.scene_4 {
  transform: translateY(var(--translateY));
  will-change: transform;
}

.slide3_back {
  height: 100vh;
  background-color: blue;
  width: 100%;
  position: ;
  top: 0;
}

.slide3_logo_img {
  width: 472px;
  height: 528px;
  background-image: url(../img/page_intercom/slide3/logo_slide3.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate3d(-50%, -50%, 0);
  transition: transform linear;
  will-change: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
}

.slide3_intercom_img {
  width: 468px;
  height: 744px;
  background-image: url(../img/page_intercom/slide3/intercome_slide3.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  transition: transform linear;
}

.slide3__left_side {
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  position: absolute;
  display: block;
  background-color: #efefef;
}

.slide3__right_side {
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  position: absolute;
  display: block;
  background-color: #efefef;
}

.slide3__container_left {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
}

.slide3__container_right {
  height: 100%;
  width: 100%;
  margin: auto;
  position: absolute;
  right: 0;
}

.gray_block_wrapper {
  display: flex;
  height: 241px;
  margin-top: 100px;
}

.gray_left1 {
  width: 400px;
  border-bottom: 20px solid transparent;
  background: linear-gradient(to right, #efefef, #cfcfcf);
  position: relative;
  display: flex;
  align-items: center;
}

.gray_left1::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  height: 237px;
  width: 298px;
  padding: 1rem;
  background-color: #efefef;
}

.gray_left2 {
  width: 400px;
  border-bottom: 20px solid transparent;
  background: linear-gradient(to right, #cfcfcf, #efefef);
  position: relative;
}

.gray_left2::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  height: 237px;
  width: 398px;
  padding: 1rem;
  background-color: #efefef;
}

.gray_block_wrapper_right {
  display: flex;
  position: absolute;
  height: 241px;
  top: 300px;
  left: -130px;
}

.gray_right1 {
  width: 400px;
  border-bottom: 20px solid transparent;
  background: linear-gradient(to right, #efefef, #cfcfcf);
  position: relative;
}

.gray_right1::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  height: 237px;
  width: 398px;
  padding: 1rem;
  background-color: #efefef;
}

.gray_right2 {
  width: 400px;
  border-bottom: 20px solid transparent;
  background: linear-gradient(to right, #cfcfcf, #efefef);
  position: relative;
}

.gray_right2::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  height: 237px;
  width: 398px;
  padding: 1rem;
  background-color: #efefef;
}

p.quality {
  font-family: 'OpenSansBold';
  font-size: 24px;
  line-height: 30px;
}

p.spec2_mini {
  z-index: 1;
  position: relative;
  width: 80%;
  line-height: 18px;
}

p.spec {
  margin-top: 200px;
  width: 400px;
}

p.spec2 {
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}

p.spec3 {
  margin-top: 50px;
  width: 300px;
}

p.spec_right {
  margin-left: 300px;
  width: 255px;
}

.spec2_qm_right {
  margin-top: 18%;
  margin-left: 40px;
}

p.spec3_right {
  margin-left: 300px;
  margin-bottom: 10px;
}

p.spec3_mini {
  margin-left: 300px;
}

.slide3_bottom_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.bottom_side {
  position: absolute;
  bottom: 100px;
  padding-right: 20px;
}

.slide3_left_right {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.slide3_bottom__text_wrapper {
  width: 40%;
  padding-right: 50px;
}

.slide3_bottom_text {
  font-family: 'OpenSansBold';
  font-size: 22px;
  margin-bottom: 10px;
}

.slide3_bottom_textmini {
  line-height: 20px;
}

.send_present_wrapper {
  width: 50%;
}

.form_group {
  display: flex;
  position: relative;
  bottom: -15px;
}

.form_input {
  font-family: var(--f500);
  letter-spacing: 1px;
  font-size: 20px;
  z-index: 2;
  background-color: #f0f8ff00;
  border: solid 1px;
  width: 300px;
  margin-right: 10px;
  padding-left: 14px;
  border-radius: 5px;
  font-family: 'OpenSansMedium';
  font-size: 16px;
  padding-top: 10px;
}

.form_label {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  color: #5d6369;
  transition: 0.3s;
  padding: 20px;
  backface-visibility: hidden;
  pointer-events: none;
}

.form_button {
  height: 56px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #304fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 0;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  font-family: 'OpenSansMedium';
  border: none;
  border-radius: 5px;
}

.form_button:hover {
  background-color: #304fff;
}

.form_button:after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.form_button:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label {
  top: -11px;
  font-size: 12px;
  color: #5d6369;
}

.form_input:focus {
  border-bottom: 2px solid #304fff;
}

input[type='checkbox'] {
  outline: none;
}

input:focus,
select:focus {
  outline: 0;
}

select:focus {
  outline: none;
}

input:focus {
  background-position: 0 0;
}

input[type='text']::placeholder,
textarea::placeholder {
  background: transparent;
  color: #000;
  outline: none;
}

input[type='text']::placeholder,
textarea::placeholder :focus {
  color: #000;
  background: transparent;
  outline: none;
}

input:-webkit-autofill {
  color: #ffffff !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  outline: none;
  transition: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 60px #fff inset !important;
}

input:-webkit-autofill {
  color: #000000 !important;
  -webkit-text-fill-color: black !important;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.slide4_4 {
  height: 2200px;
  overflow: hidden;
}

.slide4 {
  height: 1100px;
  background-color: #202022;
  width: 100%;
  position: relative;
  top: 0;
  z-index: 49;
}

.slide4__img_block {
  position: absolute;
  transform: translate3d(var(--rx), var(--tx), 0) scale(var(--scale)) rotate(var(--rotate));
}

.slide4__img {
  width: 958px;
  height: 2435px;
  transform: translate3d(200px, var(--tx), 0);
  transition: transform linear;
  will-change: transform;
}

.slide4_img_real {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../img/page_intercom/slide4/intercom_slide4.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0, 0) scale(1);
}

.slide4_h1 {
  color: #fff;
  text-align: center;
  font-size: 84px;
  margin-bottom: 80px;
  will-change: transform;
}

.slide4_text {
  color: #fff;
  width: 350px;
  font-size: 20px;
  line-height: 28px;
  font-family: 'OpenSansMedium';
  will-change: transform;
}

.slide4_text_wrapper {
  position: absolute;
  top: 130px;
}

.slide5 {
  height: 1100px;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.ghost_slide5 {
  height: 350px;
}

.biom_text_wrapper {
  display: flex;
  font-family: 'OpenSansBold';
  line-height: 20px;
}

.biom_text {
  width: 250px;
  margin: 40px 40px 40px 0;
}

.biometric_wrapper {
  background-color: #202022;
  height: 100%;
  position: absolute;
  width: 40%;
  right: 0;
  color: #fff;
}

.biometric_scene {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

.biometric_img {
  width: 444px;
  height: 642px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide5/biometric.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}

.biometric_img_text_h1 {
  font-family: 'OpenSansBold';
  font-size: 40px;
  margin-bottom: 5px;
  text-align: center;
}

.biometric_img_text_mini {
  font-family: 'OpenSansBold';
  font-size: 19px;
  text-align: center;
}

.slide6 {
  height: 1000px;
  width: 100%;
  display: flex;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}

.size {
  font-family: 'OpenSansBold';
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 43%;
  left: 39%;
}

.domofon_img_slide6 {
  width: 765px;
  height: 649px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide6/display.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, var(--tx), 0) scale(var(--scale));
  transition: transform linear;
  will-change: transform;
  z-index: 0;
}

.slide6_h1 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.fly_window_up {
  position: absolute;
  background-color: #304fff;
  color: #fff;
  width: 415px;
  font-family: 'OpenSansSemiBold';
  font-size: 18px;
  line-height: 20px;
  border-radius: 10px;
  padding: 30px;
  left: 64%;
  top: 50%;
  z-index: 1;
  display: flex;
}

.fly_window_ico {
  height: 40px;
  min-width: 40px;
  margin-right: 16px;
  margin-top: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fly_window_ico svg path:nth-child(3) {
  fill: #fff;
  animation: lines_5 1.8s infinite ease-in;
}

@keyframes lines_5 {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 10px);
  }

  50% {
    opacity: 0;
    transform: translate3d(150px, 0, 10px);
  }

  100% {
    opacity: 0;
    transform: translate3d(150px, 0, 10px);
  }
}

.fly_window_ico svg path:nth-child(2) {
  fill: #fff;
  animation: lines_4 1.8s infinite ease-in;
}

@keyframes lines_4 {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 10px);
  }

  20% {
    opacity: 1;
    transform: translate3d(0, 0, 10px);
  }

  50% {
    opacity: 0;
    transform: translate3d(150px, 0, 10px);
  }

  100% {
    opacity: 0;
    transform: translate3d(150px, 0, 10px);
  }
}

.fly_text1_wrapper {
  font-size: 20px;
  line-height: 24px;
}

.fly_window_1 {
  position: absolute;
  background-color: #fff;
  width: 640px;
  font-family: 'OpenSansBold';
  font-size: 18px;
  line-height: 24px;
  border-radius: 10px;
  padding: 30px;
  left: 50%;
  border: solid 1px #ededed;
  transform: translateX(-50%);
}

.fly_window_up_mini {
  font-family: 'OpenSansMedium';
  font-size: 14px;
  margin-top: 17px;
  line-height: 20px;
}

.container_6 {
  width: 100%;
  height: 100%;
}

.gap_7_15 {
  position: relative;
  z-index: 19;
}

.slide7 {
  width: 100%;
  display: flex;
  background-color: #202022;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.back_slide_7 {
  background-color: #161616;
  height: 526px;
  width: 150%;
  left: -10%;
  position: absolute;
  bottom: -10%;
  transform: rotatez(355deg);
}

.line_provizro_h1 {
  margin-top: 110px;
}

.line_h2 {
  font-family: 'OpenSansBold';
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 28px;
  width: 410px;
}

.cell_domofon_wrapper {
  margin-bottom: 160px;
}

.cell_domofon {
  width: 411px;
  height: 244px;
  border-radius: 10px;
  background-color: #2a2a2a;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img_cell_1 {
  background-size: cover;
  background-image: url(../img/page_intercom/slide7/domofon7_1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 279px;
  width: 176px;
  position: absolute;
  bottom: -50px;
  left: 20px;
  transition: 0.2s ease;
}

.img_cell_2 {
  background-size: cover;
  background-image: url(../img/page_intercom/slide7/domofon7_2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 219px;
  width: 210px;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: 0.2s ease;
}

.domofon_h4_cell {
  font-family: 'OpenSansBold';
  font-size: 26px;
  margin-bottom: 20px;
}

.domofon_slide7_text_max {
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  margin-right: 10px;
}

.domofon_cell_mini {
  font-family: 'OpenSansMedium';
  line-height: 22px;
  font-size: 14px;
}

.domofon_slide7_text {
  position: absolute;
  right: 0;
  top: 60px;
  width: 135px;
  margin-right: 20px;
}

.slide7_btn {
  padding: 13px 24px;
  color: #fff;
  background-color: #304fff;
  border: 0;
  border-radius: 66px;
  font-family: 'OpenSansMedium';
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slide7_btn:hover {
  background-color: #304fff;
}

.slide7_btn:after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.slide7_btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.slide7_img {
  height: 651px;
  width: 702px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  background-size: cover;
  background-image: url(../img/page_intercom/slide7/domofon7_all.png);
  background-repeat: no-repeat;
  background-position: center;
}

.cell_domofon:hover .img_cell_1 {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.cell_domofon:hover .img_cell_2 {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.slide8 {
  height: 960px;
  width: 100%;
  background-color: #efefef;
  position: relative;
  border-top: solid 22px #efefef;
  border-bottom: solid 22px #efefef;
}

.slide8_content {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}

.logo_slide8 {
  position: absolute;
  height: 100%;
  width: 128px;
  left: 5%;
  background-size: cover;
  background-image: url(../img/page_intercom/slide8/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.slide8__left {
  height: 100%;
  width: 40%;
  position: absolute;
  left: 0;
}

.slide8__right {
  height: 100%;
  width: 60%;
  background-color: #212223;
  position: absolute;
  right: 0;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.bus_uk_wrapper {
  background-color: #fff;
  border-radius: 10px;
  width: 370px;
  height: 870px;
  padding: 30px;
  z-index: 50;
}

.sl8_bussines {
  font-size: 30px;
  line-height: 32px;
  margin-top: 20px;
}

.sl8_bussines_m {
  font-family: 'OpenSansBold';
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.ls8_bussines_r {
  line-height: 18px;
  font-size: 15px;
}

.sl8_uk {
  font-size: 30px;
  line-height: 32px;
}

.sl8_uk_m {
  font-family: 'OpenSansBold';
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.ls8_uk_h2 {
  font-family: 'OpenSansBold';
  margin-bottom: 40px;
  font-size: 23px;
  margin-top: 40px;
  line-height: 22px;
}

.sl8_btn {
  padding: 13px 24px;
  color: #fff;
  background-color: #304fff;
  border: 0;
  border-radius: 5px;
  font-family: 'OpenSansMedium';
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  height: 53px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.sl8_btn:hover {
  background-color: #304fff;
}

.sl8_btn:after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.sl8_btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.sl8_img {
  height: 508px;
  width: 100%;
  overflow: hidden;
}

.sl8_anim_img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../img/page_intercom/slide8/city.png);
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.3);
  transition: 2s ease;
}

.sl8_anim_img_active {
  transform: scale(1);
  transition: 2s ease;
}

.sl8_text_wrapper {
  display: flex;
  color: #fff;
  margin: auto;
  margin-top: 60px;
  width: max-content;
}

.slt8_text_li {
  font-family: 'OpenSanssemiBold';
  line-height: 20px;
  font-size: 15px;
  padding: 30px;
}

.contener_right_8 {
  width: 70%;
}

.btn-wraper {
  margin: auto;
  height: 180px;
  width: 100%;
}

.btn-wraper .ripple-effect {
  position: relative;
  height: 100%;
  width: 100%;
  display: inline-flex;
  background-color: #efefef;
  color: #000;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  cursor: default;
}

.btn-wraper .ripple-effect span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #212223;
  transition: all 0.4s ease;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.btn-wraper .ripple-effect:hover span {
  width: 200%;
  height: 420%;
  transition: all 0.4s ease;
}

.btn-wraper .ripple-effect:hover .service-item {
  color: #fff;
  transition: all 0.4s ease;
}

p.service-item__title {
  line-height: 24px;
  font-size: 16px;
  width: 80%;
  margin: auto;
  font-family: 'OpenSansBold';
}

.slide9 {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.head_slide9 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 130px;
}

.slide9_h1 {
  margin-top: 0;
}

.decline_group {
  display: flex;
}

.decline_ico {
  height: 88px;
  width: 88px;
  border-radius: 8px;
  background-color: #212223;
  margin-right: 30px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide9/eyes.png);
  background-repeat: no-repeat;
  background-position: center;
}

.decline_text {
  font-family: 'OpenSansBold';
  width: 250px;
  height: 88px;
  display: flex;
  align-items: center;
}

.slide9_about_text {
  font-family: 'OpenSansBold';
}

.slide9_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.slide9_table {
  padding: 20px 20px;
  width: 100%;
  height: 170px;
  background-color: #efefef;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 20px;
  font-size: 16px;
  font-family: 'OpenSansBold';
}

.occasion_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 15px;
  line-height: 20px;
  margin-bottom: 160px;
}

.slide_all_content {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide10 {
  height: 1100px;
  width: 100%;
  background-color: #efefef;
  position: relative;
  overflow: hidden;
}

.slide10_place {
  position: relative;
}

.heart_wrapper {
  position: absolute;
  right: 0;
  width: 516px;
  height: 495px;
}

.heart_img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../img/page_intercom/slide10/heart.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  animation: heart 1.8s infinite ease-in;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.slide10_h1 {
  margin-top: 130px;
  margin-bottom: 60px;
}

.shelf_block {
  display: flex;
  margin-bottom: 29px;
  width: 460px;
  padding: 25px 0 25px;
  border-radius: 10px;
}

.shelf_ico {
  height: 40px;
  min-width: 40px;
  width: 40px;
  margin-right: 20px;
}

.microphone {
  background-size: cover;
  background-image: url(../img/page_intercom/slide10/microphone.png);
  background-repeat: no-repeat;
  background-position: center;
}

.voice {
  background-size: cover;
  background-image: url(../img/page_intercom/slide10/voice.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}

.eye {
  background-size: cover;
  background-image: url(../img/page_intercom/slide10/eye.png);
  background-repeat: no-repeat;
  background-position: center;
}

.shelf_text_h1 {
  font-family: 'OpenSansBold';
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.shelf_text_p {
  line-height: 24px;
  font-size: 16px;
}

.about_shelf {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 50%;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 100px;
  border: solid 1px #ededed;
}

.slide11 {
  color: #fff;
  height: 1100px;
  width: 100%;
  background-color: #161616;
  position: relative;
}

.slide_10_all {
  margin: auto;
  width: fit-content;
}

.form_groups {
  display: flex;
  justify-content: center;
}

.header_slide10 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.form_title {
  font-size: 40px;
}

.ico_h1_slide10 {
  margin-right: 20px;
}

.form_title_text {
  text-align: center;
  margin-bottom: 30px;
  line-height: 20px;
}

.form_input_middle {
  letter-spacing: 1px;
  font-size: 20px;
  z-index: 2;
  background-color: #fff;
  border: solid 1px;
  width: 400px;
  height: 56px;
  margin-right: 10px;
  padding-left: 14px;
  border-radius: 5px;
  font-family: 'OpenSansMedium';
  font-size: 16px;
  padding-top: 10px;
}

form.form.form_modal {
  margin: auto;
}

.form_group_middle {
  position: relative;
  margin-right: 5px;
  margin-top: 15px;
}

.form_label_middle {
  position: absolute;
  top: 0;
  left: -5px;
  z-index: 1;
  color: #5d6369;
  transition: 0.3s;
  padding: 20px;
}

.form_button_middle {
  margin-top: 40px;
  height: 56px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #304fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 0;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  font-family: 'OpenSansMedium';
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.form_button_middle:hover {
  background-color: #304fff;
}

.form_button_middle:after {
  background: #fff;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.form_button_middle:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.form_input_middle:focus ~ .form_label,
.form_input_middle:not(:placeholder-shown) ~ .form_label {
  top: -11px;
  font-size: 12px;
  color: #5d6369;
}

.form_input_middle:focus {
  border-bottom: 2px solid #304fff;
}

.check_main input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check {
  padding-left: 7em;
  font-size: 13px;
  line-height: 16px;
  display: block;
  margin-top: 50px;
  font-family: 'OpenSansMedium';
  width: 400px;
  cursor: pointer;
}

.check_input:checked + .check_box {
  background-image: url(../img/page_intercom/slide10/check.svg);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 56%;
  background-position-y: 70%;
  font-family: 'OpenSansMedium';
}

.color_label {
  color: #5d6369;
}

.check_box {
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  border-radius: 3px;
  margin-left: -40px;
  border: solid 3px #fff;
  font-family: 'OpenSansMedium';
}

.check_text {
  text-decoration: underline;
}

.form_textarea {
  width: 280px;
  min-height: 120px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #f1a93d;
  outline: none;
  resize: none;
  color: var(--white);
  font-size: 20px;
  font-family: var(--f500);
}

.hidden_wrapper {
  overflow: hidden;
  margin-top: 40px;
  width: 100%;
  height: 56px;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  display: none;
}

input:focus,
select:focus {
  outline: 0;
}

select:focus {
  outline: none;
}

input:focus {
  background-position: 0 0;
}

input[type='text']::placeholder,
textarea::placeholder {
  background: transparent;
  color: #000;
  outline: none;
}

input[type='text']::placeholder,
textarea::placeholder :focus {
  color: #000;
  background: transparent;
  outline: none;
}

input:-webkit-autofill {
  color: #ffffff !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  outline: none;
  transition: 0;
  z-index: 1;
  -webkit-box-shadow: 0 0 0 60px #fff inset !important;
}

input:-webkit-autofill {
  color: #000000 !important;
  -webkit-text-fill-color: black !important;
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.slide12 {
  color: #fff;
  height: 1200px;
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
}

.slide_comp {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10%;
  background-image: url(../img/page_intercom/slide11/comp.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform linear;
  will-change: transform;
  transform: translate3d(0, var(--tx), 0) scale(var(--scale));
}

.sl12_header {
  color: #000;
  position: absolute;
  top: 130px;
  display: flex;
  align-items: center;
  width: 1200px;
}

.sl12_h1_h2 {
  width: 720px;
}

.slide_12_h2 {
  font-size: 20px;
  line-height: 28px;
  font-family: 'OpenSansBold';
}

.lock_wrapper {
  background-color: #fff;
  padding: 50px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  border: solid 1px #ededed;
}

.lock_ico {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide12/lock-svgrepo-com.svg);
  background-repeat: no-repeat;
}

.lock_text {
  font-size: 20px;
  line-height: 28px;
  font-family: 'OpenSansBold';
  width: 220px;
}

.lock_slide12_p {
  color: #fff;
  position: absolute;
  bottom: 40px;
  text-align: left;
  width: 861px;
  padding: 40px 60px;
  font-family: 'OpenSansBold';
  font-size: 20px;
  line-height: 28px;
  background-color: #304fff;
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
}

.slide13 {
  color: #fff;
  height: 1000px;
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
  overflow: hidden;
}

.slide13_left {
  left: 0;
  top: 0;
  height: 100%;
  width: 45%;
  position: absolute;
  display: block;
  background-color: #202022;
  color: #fff;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.slide13_right {
  right: 0;
  top: 0;
  height: 100%;
  width: 55%;
  position: absolute;
  display: block;
  background-color: #fff;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.container13_right {
  height: 100%;
  width: 700px;
  margin: auto;
  position: absolute;
  left: 0;
}

.container13_left {
  height: 100%;
  width: calc(50% - 90px);
  margin: auto;
  position: absolute;
  left: 0;
}

.sl13_h1 {
  margin-top: 130px;
  margin-bottom: 80px;
}

.sl13_text {
  font-family: 'OpenSansBold';
  font-size: 20px;
  line-height: 28px;
  width: 320px;
  margin-bottom: 40px;
}

.sl13_btn {
  width: 210px;
  margin-top: 10px;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sl13_pad1_img {
  top: 10%;
  left: 0%;
  position: absolute;
  height: 574px;
  width: 1068px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide13/pad1.png);
  background-repeat: no-repeat;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.sl13_pad2_img {
  top: 30%;
  left: 25%;
  position: absolute;
  height: 574px;
  width: 1068px;
  background-size: cover;
  background-image: url(../img/page_intercom/slide13/pad2.png);
  background-repeat: no-repeat;
  transform: translateX(var(--tx));
  transition: transform linear;
  will-change: transform;
}

.slide14 {
  color: #fff;
  height: 1100px;
  width: 100%;
  background-color: #202022;
  position: relative;
}

.form_title_text_sl14 {
  text-align: left;
  margin-bottom: 20px;
  line-height: 38px;
  font-size: 30px;
  width: 750px;
  padding-top: 10px;
  font-family: 'OpenSansBold';
}

.header_slide13 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  background-color: #181818;
}

.logo_footer {
  width: 360px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.f_area {
  height: 100%;
  width: 100%;
  color: #fff;
}

.footer_nav_wrappper {
  display: flex;
  justify-content: space-between;
}

.f_nav_item {
  width: 240px;
  display: flex;
  position: relative;
}

.f_nav_item_1 {
  width: 320px;
  display: flex;
}

.f_nav_item_btn {
  width: 10%;
  display: none;
  position: relative;
}

.f_left_menu {
  margin-right: 40px;
}

.f_right_menu {
  margin-right: 40px;
}

.f_li {
  font-family: 'OpenSansMedium';
  font-size: 16px;
  margin-bottom: 20px;
}

a.f_li {
  cursor: pointer;
}

a.f_li:hover {
  text-decoration: underline;
}

.f_contact_wrapper {
  position: absolute;
  bottom: 0;
}

.f_phone {
  font-family: 'OpenSansBold';
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
}

.f_mail {
  font-family: 'OpenSansBold';
  font-size: 19px;
  cursor: pointer;
  transition: 0.2s;
  color: #fff;
}

.presentation_dowload_wrapper {
  position: absolute;
  bottom: 12px;
  margin-left: 40px;
}

.presentation {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  color: #fff;
}

.text_hover:hover {
  color: #304fff;
  transition: 0.2s;
}

.prese_about {
  margin-top: 10px;
  font-size: 14px;
  color: #4c4c4c;
  cursor: default;
}

.f_social {
  font-size: 14px;
  cursor: default;
}

.ico {
  opacity: 0.2;
  transition: 0.2s;
}

.ico:hover {
  opacity: 1;
  transition: 0.2s;
}

.f_nav_item_social {
  width: 170px;
  position: relative;
}

.social_ico_wrapper {
  display: flex;
  margin-top: 10px;
}

.instagram {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-size: cover;
  background-image: url(../img/page_intercom/footer/instagram-svgrepo-com.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.facebook {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-size: cover;
  background-image: url(../img/page_intercom/footer/facebook-svgrepo-com.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.up_the_site::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  background-size: cover;
  background-image: url(../img/page_intercom/footer/up-arrow-svgrepo-com.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.f_social_area {
  position: absolute;
  bottom: 0;
}

.f_line {
  height: 1px;
  width: 100%;
  background-color: #2a2a2a;
  margin-bottom: 22px;
  margin-top: 60px;
}

.politics_wrapper {
  display: flex;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.all_right {
  margin-right: 20px;
}

.politics_right {
  margin-right: 20px;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

.say_yes {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s;
}

@media only screen and (max-width: 1250px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .container_start {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .sl12_header {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }

  .container_left {
    width: 100%;
    padding-left: 20px;
  }

  p.spec3_mini {
    margin-left: 48%;
  }

  p.spec3_right {
    margin-left: 48%;
  }

  p.spec_right {
    margin-left: 48%;
  }

  .spec_order_wrapper {
    padding-right: 20px;
  }

  .gray_left2 {
    width: 50%;
  }

  .gray_left2::after {
    width: 99%;
  }

  .gray_left1 {
    width: 50%;
  }

  .gray_left1::after {
    width: 99%;
  }

  .logo_slide8 {
    display: none;
  }

  .slide4_img_real {
    transform: translate(-25%, 10%) scale(0.9);
  }

  .heart_wrapper {
    right: 40px;
  }

  .slide7_img {
    background-size: contain;
    width: 58%;
    transform: translate3d(0, -50%, 0) scale(90%);
  }

  .slide4_h1 {
    font-size: 60px;
    line-height: 68px;
  }

  .cell_domofon {
    width: 400px;
    height: 224px;
  }

  .img_cell_1 {
    transform: scale(0.9);
  }

  .img_cell_2 {
    transform: scale(0.9);
  }

  h1 {
    font-size: 50px;
    line-height: 58px;
  }

  .container13_left {
    padding-left: 20px;
  }

  .modal_politics-fade {
    padding: 80px 30px 100px;
  }

  .user_deal-fade {
    padding: 80px 30px 100px;
  }

  .up_the_site_shrink {
    bottom: 75px;
    right: 20px;
  }
}

@media only screen and (max-width: 1124px) {
  .product_1 {
    height: 160px;
    width: 250px;
  }

  .product_2 {
    height: 160px;
    width: 250px;
  }

  .heart_wrapper {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1024px) {
  p.spec3_mini {
    margin-left: 48%;
  }

  p.spec3_right {
    margin-left: 48%;
  }

  p.spec_right {
    margin-left: 48%;
  }

  .slide3_intercom_img {
    top: 45%;
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }

  .slide4_h1 {
    font-size: 4rem;
  }

  .biometric_img {
    transform: scale(0.7);
  }

  nav .submenu .submenu-container {
    padding: 30px 20px;
  }

  .slide4_img_real {
    transform: translate(-30%, 12%) scale(0.9);
  }

  .sl12_h1_h2 {
    width: 60%;
  }

  .container13_left {
    padding-left: 20px;
  }

  .slide_comp {
    top: 20%;
  }
}
